.navbar {
  margin-bottom: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
          box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.slider {
  background-color: #000000;
}
.slider .container {
  height: 455px;
  background-image: url(/img/cosmos-2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container .logo {
  width: 200px;
  margin-top: 20px;
}
.bg-dark {
  color: #FAFAFA;
  background-color: #263238;
  -webkit-box-shadow: 0px -4px 40px -8px #111111;
          box-shadow: 0px -4px 40px -8px #111111;
}
.bg-light-grey { background-color: #eee; }
.text-uppercase { text-transform: uppercase; }
.text-white { color: #fff; }
.text-dark { color: #263238; }
.text-light-coral { color: #F3535D;}
.text-light-coral .fa-stack { line-height: 1.40em; }
.fa-you:before { font-size: 0.60em; content: "YOU"; }
.fa-chevron-right, .fa-chevron-left { cursor: pointer; }
.thumbnail { padding: 0; border: none; }

/* Info blocks */
.services {
  color: #fff;
  padding: 25px 0;
  background-color: #F3535D;
  border-top: 4px solid #CD4951;
}
.shadow {
  -webkit-box-shadow: 8px 2px 10px -8px rgba(0,0,0,0.35);
          box-shadow: 8px 2px 10px -8px rgba(0,0,0,0.35);
}
.services p {
  font-size: 14px;
}

/* Dot navigation */
#dot-nav{
  position: fixed;
  right: 10px;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  z-index: 999;
}
#dot-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#dot-nav li {
  position: relative;
  background-color: #bdc3c7;
  border: 4px solid #bdc3c7;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  padding: 5px;
  height: 10px;
  margin: 12px 8px 0px 0px;
  width: 10px;
  vertical-align: bottom;
}
#dot-nav li.active, #dot-nav li:hover {
  background-color: #F3535D;
}
#dot-nav a {
  outline: 0;
  vertical-align: top;
  margin: 0px 0px 0px 25px;
  position: relative;
  top: -5px;
}
.awesome-tooltip + .tooltip > .tooltip-inner {
  background-color: #F3535D; 
  color: #f5f5f5; 
  border: 1px solid #F3535D;
}
.awesome-tooltip + .tooltip.left > .tooltip-arrow{
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #F3535D;
}

/* Buttons */
.btn-outlined {
  border-radius: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
          transition: all 0.3s;
}
.btn-outlined.btn-more {
  color: #fff;
  background: none;
  padding: 12px 24px;
  border: 2px solid #fff;
}
.btn-more:hover,
.btn-more:active {
  color: #e7695b;
  background: #fff;
  border-color: #fff;
}
.btn-outlined.btn-order {
  color: #fff;
  background: none;
  padding: 12px 24px;
  border: 2px solid #fff;
}
.btn-order:hover,
.btn-order:active {
  color: #333;
  background: #fff;
  border-color: #fff;
}
.fb { background-color: #3b5998; }
.tw { background-color: #00aced; }
.gl { background-color: #dd4b39; }
.li { background-color: #007bb6; }
.vk { background-color: #45668e; }
.fb:hover { color: #eeeeee; }
.tw:hover { color: #eeeeee; }
.gl:hover { color: #eeeeee; }
.li:hover { color: #eeeeee; }
.vk:hover { color: #eeeeee; }

/* BarChart */
#chardiv {
  width: 100%;
  height: 600px;
  font-size: 11px;
}
#chardiv a {
  display: none !important;
}

/* Services */
.page-services .nav-pills li {
  margin-left: 0em;
}
.page-services .col-md-3 {
  padding: 0 10px;
}
.site-description-fix {
  height: 125px;
}

/* Calculator */
#local {
  display: none;
  color: #000;
}
.number {
  width: 40px;
  height: 23px;
  color: #000;
}

/* Footer */
footer {
  color: #fff;
  padding: 40px 0;
}